Django==1.11.28
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
waitress
static3==0.5.1
-e git+https://github.com/funkybob/django-flatblocks.git#egg=django-flatblocks
sendgrid-django
django-user-accounts
django-uuidfield==0.5.0
newrelic
pdfkit==0.4.1
django-hermes
mock
eventlet
django-debug-toolbar==1.2.1
django_import_export
yolk==0.4.3
django-ipware
requests_mock
boto
django-storages==1.6.3
django-htmlmin
pyparsing
python-dateutil
toolz
whitenoise
msgpack
psycopg2-binary
gunicorn