{% extends 'taxbrain/input_base.html' %}

{% load staticfiles %}

{% load flatblocks %}

{% block content %}
<div class="wrapper">
  <div id="affix-offset">
    <section class="taxbrain-hero">
      <div class="taxbrain-hero-block">
        <div class="logo">
          <img src="{% static 'images/ospc-logo-simple.png' %}" alt="TaxBrain" class="img-responsive" style="height:60px;">
        </div>
        {% flatblock "taxbrain_dynamic_subheader" %}
        <a href="#get-started" class="btn btn-primary btn-explore">Start Exploring</a>
        <div class="what-is">
          <a class="collapsed" data-toggle="collapse" href="#appInfo" aria-expanded="false" aria-controls="taxbrainInfo">About the Apps</a>
        </div>
      </div>
    </section>

    <section class="taxbrain-info collapse" id="appInfo">
      <div class="container">
        <div class="taxbrain-history">
          <h2>About TaxBrain</h2>
          {% flatblock "taxbrain_what_is_taxbrain_dropdown" %}
          <h2>About B-Tax (Cost of Capital)</h2>
          {% flatblock "btax_what_is_btax_dropdown" %}
        </div>
        <div class="taxbrain-build">
          <h2>Code Build</h2>
          <p><a href="https://github.com/open-source-economics/Tax-Calculator">Tax-Calculator Version {{ taxcalc_version }} - GitHub</a></p>
          <p><a href="https://github.com/open-source-economics/B-Tax">B-Tax (Cost of Capital) Version {{ btax_version }} - GitHub</a></p>
          <p><a href="/about">More Information</a></p>
        </div>
      </div>
  </div>

    <div>
      {% csrf_token %}

      <div class="result-table">
        <div id="get-started" class="inputs-block inputs-block-intro">
          <div class="inputs-block-header">
            <h1>Choose a Tax Simulation</h1>
           {% flatblock "btax_vs_taxbrain_blurb" %}
          </div>
        </div>
        <div class="inputs-block-header">

                <style type="text/css">
                    td
                    {
                        padding:20px 15px 20px 15px;
                        }
                </style>

                <table style="width:100%">
                <tr padding="15px">
                    <td>
                    <a href="/taxbrain" class="text-white btn btn-secondary">Taxbrain</a>
                    </td>
                    <td>
                      {% flatblock "taxbrain_entry_blurb" %}
                    </td>
                </tr>
                <tr padding="15px">
                    <td padding-bottom="1em">
                    <a href="/btax" class="text-white btn btn-secondary">Cost of Capital</a>
                    </td>
                    <td>
                      {% flatblock "cost_of_capital_entry_blurb" %}
                    </td>
                </tr>

                </table>
          </div>

      </div> <!-- main -->
    </div>
    <div class="push"></div>
  </div> <!-- /wrapper -->
{% endblock %}
