{% extends 'pages/home.html' %}

{% load staticfiles %}

{% load flatblocks %}

{% block content %}
<div class="text-center">
  <h1>Documentation</h1>
</div>
<br /><br />
<div class="row">
  <div class="col-xs-3">
    <div class="inputs-sidebar" data-spy="affix" data-offset-top="435" data-offset-bottom="245">
      <ul class="nav sidebar-nav">
        <li class="get-started"><a href="#get-started">Get Started</a></li>
        <li><a href="#taxes">Business Income Tax Rates</a></li>
        <li><a href="#depreciation">Depreciation</a></li>
        <li><a href="#other">Other</a></li>
        <li><a href="#macro-econ">Macroeconomic Assumptions</a></li>
      </ul>
    </div> <!-- sidebar -->
  </div>
  <div class="col-xs-9">
    <div class="docs-links">
      <h1>Hey!</h1>
    </div>
  </div>
</div>
{% endblock %}
