{% extends 'pages/home.html' %}

{% load staticfiles %}

{% load flatblocks %}

{% block content %}
  <section class="home-display">
    <div class="home-display-pattern">

      <div class="home-hero">
        <div class="home-hero-break"></div>
        <p class="lead">A LABORATORY FOR PREDICTING THE EFFECTS OF PUBLIC POLICY</p>
        <div class="row">
          <div class="col-sm-4">
            <div class="home-hero-item">
              <span class="icon icon-invisible-folder"></span>
              <h2 class="h3">Transparent</h2>
              <p>All of the projects we incubate are freely available and we encourage peer review. </p>
              <a href="https://github.com/Open-source-economics" target="_blank">The code repository</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="home-hero-item">
              <span class="icon icon-wrenches"></span>
              <h2 class="h3">Accessible</h2>
              <p>You can run the models yourself through our webapp interface or by downloading the code and using it with your own data.</p>
              <a href="/taxbrain">Our first web app</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="home-hero-item">
              <span class="icon icon-arrows-inward"></span>
              <h2 class="h3">Collaborative</h2>
              <p>We welcome anyone, whether you are a modeler, software developer, economist, or policy analyst, to help improve and expand the suite of models.</p>
              <a href="http://taxcalc.readthedocs.org/en/latest/contributor_guide.html" target="_blank">Getting started guide</a>
            </div>
          </div>
        </div>
      </div>

      <div class="home-display-app">
        <h2>From The Lab</h2>
        <div class="app app-taxbrain">
          <div class="app-logo">
            <h2 class="sr-only">Cost of Capital Calculator</h2>
            <img src="{% static 'images/btax/cost-of-capital-dark-light-blue.png' %}" alt="CCC" class="img-responsive" style="height:140px;">
          </div>
          <div class="app-info">
            <p class="lead">A simulator to analyze the impact of taxes on investment incentives.</p>
            <p class="lead">Compute marginal effective tax rates on investment and savings under current-law and user-defined tax reforms.</p>
            <br>
            <a href="/ccc/" class="btn btn-primary">Explore the numbers</a>
          </div>
      </div>
        <div class="app app-taxbrain">
          <div class="app-logo">
            <h2 class="sr-only">TaxBrain</h2>
            <img src="{% static 'images/logo-taxbrainbeta.png' %}" alt="TaxBrain" class="img-responsive">
          </div>
          <div class="app-info">
            <p class="lead">A simulator to analyze the budgetary impact of taxes.</p>
            <p>TaxBrain is an interface to open source economic models for tax policy analysis. </p>
            <br>
            <a href="/taxbrain/" class="btn btn-primary">Explore the numbers</a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <div style="margin-bottom:20px;">
    <script src="//hello.aei.org/js/forms2/js/forms2.min.js"></script>
    <form id="mktoForm_1179"></form>
    <script>MktoForms2.loadForm("//app-sj19.marketo.com", "475-PBQ-971", 1179);</script>
  </div>

  <div class="container">
    <section class="contribute">
      <h2>Become a contributor</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="contribute-block">
            <span class="icon icon-code-doc"></span>
            Documentation
            <hr>
            <p>We document the economics, data, and software behind our models.</p>
            <a href="http://taxcalc.readthedocs.org/en/latest/" target = "_blank">View Documentation</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contribute-block">
            <span class="icon icon-github"></span>
            GitHub Project
            <hr>
            <p>All of our code is available on Github.com.</p>
            <a href="https://github.com/open-source-economics">Visit Our Code Repositories</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contribute-block">
            <span class="icon icon-model-diagram"></span>
            Peer-Modeling Group
            <hr>
            <p>Start with our getting started guide.</p>
            <a href="http://taxcalc.readthedocs.org/en/latest/contributor_guide.html" target="_blank">Join the Modeling Community</a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="section-header">
    <h2>Updates From the Field</h2>
  </div>

  <section class="news-items news-items-dark">
    <div class="container">
      <p class="text-right">
        <a href="http://news.ospc.org/" class="see-all">See all news</a>
      </p>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="news-item tagged">
            <h4>
              <a href="http://news.ospc.org/welcome-to-ospc.html">Welcome to OSPC</a>
            </h4>
            <p>
              The Open Source Policy Center is making policy analysis more
              transparent, accessible, and innovative by harnessing open source
              methods to build cutting edge economic models and a webapp for
              accessing those models.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="section-header">
    <h2>As Seen In</h2>
  </div>

  <section id="media-coverage" class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block-grid-xs-2 block-grid-sm-3 block-grid-md-4">
          <div>
            <div>
                <img src="{% static 'images/media-coverage/barrons.jpg' %}" alt="">
            </div>
          </div>
          <div>
            <div>
                <img src="{% static 'images/media-coverage/motherjones.png' %}" alt="">
            </div>
          </div>
          <div>
            <div>
                <img src="{% static 'images/media-coverage/opportunitylives.png' %}" alt="">
            </div>
          </div>
          <div>
            <div>
                <img src="{% static 'images/media-coverage/realclearmarkets.jpg' %}" alt="">
            </div>
          </div>
          <div>
            <div>
                <img src="{% static 'images/media-coverage/thewashingtonpost.jpg' %}" alt="">
            </div>
          </div>
          <div>
            <div>
                <img src="{% static 'images/media-coverage/wallstreetjournal.png' %}" alt="">
            </div>
          </div>
          <div>
            <div>
                <img src="{% static 'images/media-coverage/thenewyorktimes.png' %}" alt="">
            </div>
          </div>
          <div>
            <div>
                <img src="{% static 'images/media-coverage/forbes.png' %}" alt="">
            </div>
          </div>
          <div>
            <div>
                <img src="{% static 'images/media-coverage/cnn.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="push"></div>

{% endblock  %}
