{% extends 'pages/home.html' %}

{% load staticfiles %}

{% load flatblocks %}

{% block content %}
  <section class="home-display">
    <div class="home-display-pattern">

      <div class="home-hero">
        <div class="home-hero-break"></div>
        {% flatblock "home_top_overview" %}
        <div class="row">
          <div class="col-sm-4">
            <div class="home-hero-item">
              <span class="icon icon-invisible-folder"></span>
              {% flatblock "home_left_subtitle" %}
              {% flatblock "home_left_blurb" %}
              {% flatblock "home_left_link" %}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="home-hero-item">
              <span class="icon icon-wrenches"></span>
              {% flatblock "home_center_subtitle" %}
              {% flatblock "home_center_blurb" %}
              {% flatblock "home_center_link" %}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="home-hero-item">
              <span class="icon icon-arrows-inward"></span>
              {% flatblock "home_right_subtitle" %}
              {% flatblock "home_right_blurb" %}
              {% flatblock "home_right_link" %}
            </div>
          </div>
        </div>
      </div>

      <div class="home-display-app">
        <h2>From The Lab</h2>
        <div class="app app-taxbrain">
          <div class="app-logo">
            <h2 class="sr-only">TaxBrain</h2>
            <img src="{% static 'images/logo-taxbrainbeta.png' %}" alt="TaxBrain" class="img-responsive">
          </div>
          <div class="app-info">
            {% flatblock "home_taxbrain_subtitle" %}
            {% flatblock "home_taxbrain_blurb" %}
            <br>
            <a href="/taxbrain/" class="btn btn-primary">Explore the numbers</a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <div class="container">
    <section class="join">
      <h2>Join the community</h2>
      <div class="input-container">
        <div class="input-group">
          <form action="{% url 'home' %}" method="post">{% csrf_token %}
          <span class="input-group-btn">
            {{ email_form.email }}
            {{ email_form.email.errors }}
            <input type="submit" class="btn btn-join" value="Sign Up"/>
          </span>
          </form>
          <script>

          </script>
        </div>
      </div>
    </section>
  </div>

  <div class="container">
    <section class="contribute">
      <h2>Become a contributor</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="contribute-block">
            <span class="icon icon-code-doc"></span>
            Documentation
            <hr>
            {% flatblock "home_contributor_left_blurb" %}
            {% flatblock "home_contributor_left_link" %}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contribute-block">
            <span class="icon icon-github"></span>
            GitHub Project
            <hr>
            {% flatblock "home_contributor_center_blurb" %}
            {% flatblock "home_contributor_center_link" %}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contribute-block">
            <span class="icon icon-model-diagram"></span>
            Peer-Modeling Group
            <hr>
            {% flatblock "home_contributor_right_blurb" %}
            {% flatblock "home_contributor_right_link" %}
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="section-header">
    <h2>Updates From the Field</h2>
  </div>

  <section class="news-items news-items-dark">
    <div class="container">
      <p class="text-right">
        <a href="//news.ospc.org" class="see-all">See all news</a>
      </p>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="news-item tagged">
            <h4>
              <a href="//news.ospc.org/welcome-to-ospc.html">Welcome to OSPC</a>
            </h4>
            <p>
              The Open Source Policy Center is making policy analysis more
              transparent, accessible, and innovative by harnessing open source
              methods to build cutting edge economic models and a webapp for
              accessing those models.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="section-header">
    <h2>As Seen In</h2>
  </div>

  <section id="media-coverage" class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block-grid-xs-2 block-grid-sm-3 block-grid-md-4">
          <div>
            <div>
              <a href="http://online.barrons.com/articles/social-securitys-predictions-1431129373">
                <img src="{% static 'images/media-coverage/barrons.jpg' %}" alt="">
              </a>
            </div>
          </div>
          <div>
            <div>
              <a href="http://www.motherjones.com/kevin-drum/2016/04/we-need-quit-trying-cut-middle-class-income-taxes">
                <img src="{% static 'images/media-coverage/motherjones.png' %}" alt="">
              </a>
            </div>
          </div>
          <div>
            <div>
              <a href="http://opportunitylives.com/this-transparent-new-tool-could-fundamentally-change-how-politicians-make-policy/">
                <img src="{% static 'images/media-coverage/opportunitylives.png' %}" alt="">
              </a>
            </div>
          </div>
          <div>
            <div>
              <a href="http://www.realclearmarkets.com/articles/2016/04/13/as_tax_day_approaches_we_can_surely_do_better_102110.html">
                <img src="{% static 'images/media-coverage/realclearmarkets.jpg' %}" alt="">
              </a>
            </div>
          </div>
          <div>
            <div>
              <a href="https://www.washingtonpost.com/news/wonk/wp/2016/04/14/the-search-for-the-best-middle-class-tax-cut/">
                <img src="{% static 'images/media-coverage/thewashingtonpost.jpg' %}" alt="">
              </a>
            </div>
          </div>
          <div>
            <div>
              <a href="http://www.wsj.com/articles/cracking-washingtons-black-box-1459723493">
                <img src="{% static 'images/media-coverage/wallstreetjournal.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="push"></div>
{% endblock  %}
