{% extends 'taxbrain/input_form_section.html' %}

{% block input_section_shortname %}adjustments{% endblock %}

{% load flatblocks %}

{% block section_warnings %}
<!--
<div class="alert alert-warning" role="alert">
  Vestibulum id ligula porta felis euismod semper.
</div>
-->
{% endblock %}

{% block content %}
<div class="inputs-block-header">
  <h1>Adjustments</h1>
  {% flatblock "taxbrain_adjustments_blurb" %}
</div>

{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_StudentLoan_HC %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_SelfEmploymentTax_HC %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_SelfEmp_HealthIns_HC %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_KEOGH_SEP_HC %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_EarlyWithdraw_HC %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_Alimony_HC %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.FEI_ec_c %}

{% endblock %}

{% block next_section_shortname %}exemptions{% endblock %}
