{% extends 'btax/input_form_section.html' %}

{% block input_section_shortname %}depreciation{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
  <h1>Depreciation</h1>
  {% flatblock "taxbrain_depreciation_blurb" %}
  {% block section_warnings %}
  {% endblock %}
</div>

{% for args in depr_argument_groups %}
  <h2>{{ args.pretty_asset_yr_str }}-year asset life</h2>
  {% include 'btax/includes/params/inputs/gds_ads.html' with param1=args.param1 field1=args.field1 param2=args.param2 field2=args.field2 param3=args.param3 field3=args.field3 param4=args.param4 field4=args.field4 radio_group_name=args.radio_group_name asset_yr_str=args.asset_yr_str field3_cb=args.fields3_cb field4_cb=args.field4_cb %}
{% endfor %}

{% endblock %}

{% block next_section_shortname %}other{% endblock %}




