{% extends 'taxbrain/input_form_section.html' %}

{% block input_section_shortname %}macro-econ{% endblock %}
{% block input_section_title %}Macroeconomic Variables{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
    <h1>Macroeconomic Variables</h1>
    <button
        class="btn btn-primary collapse-button"
        type="button"
        data-toggle="collapse"
        data-target="#macro-econ-collapse"
        aria-expanded="false"
        aria-controls="macro-econ-collapse">
        <span class="glyphicon glyphicon-plus" style="font-size:2em; margin-bottom:5px"></span>
    </button>
    {% flatblock "ccc_macro_econ_blurb" %}
    {% block section_warnings %}
    {% endblock %}
</div>

<div class="collapse" id="macro-econ-collapse">
    {% include 'taxbrain/includes/params/inputs/param.html' with param=params.btax_econ_nomint %}
    {% include 'taxbrain/includes/params/inputs/param.html' with param=params.btax_econ_inflat %}
</div>

{% endblock %}

{% block provide_if_no_continue %}{% endblock %}
