{% extends 'btax/input_form_section.html' %}

{% block input_section_shortname %}macro-econ{% endblock %}
{% block input_section_title %}Macroeconomic Variables{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
  <h1>Macroeconomic Variables</h1>
  {% flatblock "taxbrain_macro_econ_blurb" %}
  {% block section_warnings %}
  {% endblock %}
</div>

<h2>Nominal interest rate</h2>
{% include 'btax/includes/params/inputs/param.html' with param=params.btax_econ_nomint %}

<h2>Inflation rate</h2>
{% include 'btax/includes/params/inputs/param.html' with param=params.btax_econ_inflat %}

{% endblock %}

{% block next_section_shortname %}macro_econ{% endblock %}
