{% extends 'taxbrain/input_form_section.html' %}

{% block input_section_shortname %}other{% endblock %}
{% block input_section_title %}Other{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
    <h1>Other</h1>
    <button
        class="btn btn-primary collapse-button"
        type="button"
        data-toggle="collapse"
        data-target="#other-collapse"
        aria-expanded="false"
        aria-controls="other-collapse">
        <span class="glyphicon glyphicon-plus" style="font-size:2em; margin-bottom:5px"></span>
    </button>
    <p>Other taxes or incentives affecting new capital formation</p>
    {% block section_warnings %}
    {% endblock %}
</div>
<div class="collapse" id="other-collapse">
    {% include 'taxbrain/includes/params/inputs/param.html' with param=params.btax_other_hair %}
    {% include 'taxbrain/includes/params/inputs/param.html' with param=params.btax_other_corpeq %}
    {% include 'taxbrain/includes/params/inputs/param.html' with param=params.btax_other_proptx%}
    {% include 'taxbrain/includes/params/inputs/param.html' with param=params.btax_other_invest%}
</div>

{% endblock %}

{% block next_section_shortname %}macro-econ{% endblock %}
