{% extends 'btax/input_form_section.html' %}

{% block input_section_shortname %}other{% endblock %}
{% block input_section_title %}Other{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
  <h1>Other</h1>
  {% flatblock "taxbrain_other_blurb" %}
  {% block section_warnings %}
  {% endblock %}
</div>

<h2>Haircut to interest deduction</h2>
{% include 'btax/includes/params/inputs/param.html' with param=params.btax_other_hair %}

<h2>Allowance to corporate equity</h2>
{% include 'btax/includes/params/inputs/param.html' with param=params.btax_other_corpeq %}

<h2>Property tax rate</h2>
{% include 'btax/includes/params/inputs/param.html' with param=params.btax_other_proptx%}

<h2>Investment tax credit rate</h2>
{% include 'btax/includes/params/inputs/param.html' with param=params.btax_other_invest%}


{% endblock %}

{% block next_section_shortname %}macro_econ{% endblock %}
