{% extends 'taxbrain/input_form_section.html' %}

{% block input_section_shortname %}taxes{% endblock %}
{% block input_section_title %}Business Income Tax Rates{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
    <h1>Business Income Tax Rates</h1>
    <button
        class="btn btn-primary collapse-button"
        type="button"
        data-toggle="collapse"
        data-target="#taxes-collapse"
        aria-expanded="false"
        aria-controls="taxes-collapse">
        <span class="glyphicon glyphicon-plus" style="font-size:2em; margin-bottom:5px"></span>
    </button>
    <p>Top marginal rates on business income at the business-entity level</p>
    {% block section_warnings %}
    {% endblock %}
</div>
<div class="collapse" id="taxes-collapse">
    {% include 'taxbrain/includes/params/inputs/param.html' with param=params.btax_betr_corp %}
    {% include 'taxbrain/includes/params/inputs/param.html' with param=params.btax_betr_pass%}
</div>

{% endblock %}

{% block next_section_shortname %}depreciation{% endblock %}
