{% extends 'btax/input_base.html' %}

{% load staticfiles %}

{% load flatblocks %}

{% block content %}
<div class="wrapper">
    <div id="affix-offset">

      <nav class="logobar" role="navigation">
        <a class="logobar-brand" href="/">
          <img alt="Cost of Capital Calculator" src="{% static 'images/logo-no-icon.png' %}">
        </a>
      </nav>



      <section class="taxbrain-hero">
        <div class="taxbrain-hero-block">
          <div class="logo">
            <h2 class="sr-only">TaxBrain</h2>
            <img src="{% static 'images/btax/cost-of-capital-white-blue.png' %}" alt="TaxBrain" class="img-responsive" style="height:108px;">
          </div>
          <p class="lead">A platform for accessing open-source tax models.</p>
          <a href="#get-started" class="btn btn-primary btn-explore">Start Exploring</a>
          <div class="what-is">
            <a class="collapsed" data-toggle="collapse" href="#taxbrainInfo" aria-expanded="false" aria-controls="taxbrainInfo">What is the Cost of Capital Calculator?</a>
          </div>
        </div>
      </section>

      <section class="taxbrain-info collapse" id="taxbrainInfo">
        <div class="container">
          <div class="taxbrain-history">
            <h2>About Cost of Capital Calculator</h2>
            <h1> What is the Cost of Capital Calculator? </h1>
            <p>The Cost of Capital Calculator is an interface to <a href = "//www.github.com/PSLmodels" target="_blank">open source economic models</a> for tax policy analysis. <a href = '//www.github.com/opensourcepolicycenter/webapp-public' target="_blank">The code</a> for the Cost of Capital Calculator webapp interface is itself open source. </p>

            <ul>
            <li> <strong>Step 1.</strong> Create a policy reform by modifying tax law parameters such as rates and depreciation schedules, adjust the economic assumptions, and request the static result.</li>
            <li><strong>Step 2.</strong> Review your static output carefully. Ask questions.</li>
            <li><strong>Step 3.</strong> Share your results! The link to every results page is static and will never change. Send them around.</li>
            </ul>

            <p> Throughout this process, if you have a question about how to use the Cost of Capital Calculator or interpret the results, if you want to make a suggestion for making the interface or underlying models better, or if you discover a bug, please send a message to our mailing list, which you can join at <a href = '//list.ospc.org/mailman/listinfo/users_list.ospc.org' target="_blank">list.ospc.org/mailman/listinfo/users_list.ospc.org</a>.</p>

            <p><strong>Disclaimer</strong>

            <p>Proper use of this tool and description of that use is ultimately your responsibility. If you plan on publishing your results, I highly recommend that you confirm with the community that you are using the tools properly and interpreting the results correctly before you publish them. If you have a compelling reason not to leave a public note on the mailing list, email me at matt.jensen@aei.org.</p>

            <p>Results will change as the underlying models improve. A fundamental reason for adopting open source methods in this project is to let people from all backgrounds contribute to the models that our society uses to assess economic policy; when community-contributed improvements are incorporated, the models will produce different results.</p>

            <p>Neither the Open Source Policy Center nor the American Enterprise Institute maintain institutional positions, and the results from models accessible via the TaxBrain interface should not be attributed directly to OSPC or AEI. A suggested acknowledgement is, "We thank AEI for making TaxBrain available, but we bear sole responsibility for the use of the models and any conclusions drawn."</p>

            <p><strong> - Matt Jensen, managing director and founder of the Open Source Policy Center </strong></p>

            <hr>

            <h1>Static modeling (Step 1)</h1>

            <p> Static tax analysis entails computing changes in marginal effective tax rates on new investment under the assumption that behavior does not change in response to tax policy. Static analyses are useful for understanding the mechanistic effects of tax policy changes, and they form the basis to which behavior is applied for dynamic analyses.

            <p><strong>Accuracy notes</strong></p>

            <p>The Python code that performs the cost of capital calculations has been validated in a
            number of ways.  First, Cost of Capital Results results for a number of asset types have been compared to hand calculations performed using current law tax policy parameters.  Second, Cost of Capital Calculator results for a large number of assets
            have been compared to results for the same assets generated  ).
            <a href = 'https://www.cbo.gov/sites/default/files/109th-congress-2005-2006/reports/12-18-taxrates.pdf' target="_blank">by the Congressional Budget Office</a> (using CBO assumptions).

            <p> Bugs aside, the results from the Cost of Capital Calculator might differ in comparison to those produced by Congress or the Administration for other reasons. Modeling requires many assumptions, and neither Congress nor the executive branch publicize all of their assumptions. For example, marginal effective total tax rates produced by the Cost of Capital Calculator assume the "old view" of dividend taxation.  Others might assume the "new view" is more applicable.  These assumptions are all flexible in <a href = '//www.github.com/PSLmodels/B-Tax' target="_blank">the Cost of Capital Calculator</a>, so please conduct sensitivity analyses. Other assumptions can be made flexible in the Cost of Capital Calculator based on user requests.</p>

            <p><strong>
            Core Maintainers (static modeling):
            <ul style = "list-style-type:none">
            <li>- <a href = "http://www.jasondebacker.com" target = "blank" >Jason DeBacker, University of South Carolina</a></li>
            <li>- <a href = "https://github.com/bfgard" target = "blank" >Benjamin Gardner, Brigham Young University</a></li>
            </ul>
            </strong></p>
            <p> These members have "write access" to the core modeling repositories, B-Tax, and work as a team to determine which open source contributions are accepted.</p>
          </div>
          <div class="taxbrain-build">
            <h2>PolicyBrain Code Build</h2>
            <p><a href="https://github.com/OpenSourcePolicyCenter/webapp-public/tree/v{{webapp_version}}">Version {{ webapp_version }} - GitHub</a></p>
          </div>
          <div class="taxbrain-build">
            <h2>B-Tax Code Build</h2>
            <p><a href="https://github.com/PSLmodels/B-Tax/tree/{{btax_version}}">Version {{ btax_version }} - GitHub</a></p>
          </div>
        </div>
      </section>
    </div>
    <form class="inputs-form" method="post" action="/ccc/?start_year={{start_year}}">
      {% csrf_token %}
      <input type="hidden" name="has_errors" value="{{ has_errors }}" />
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <div class="inputs-sidebar" data-spy="affix" data-offset-top="435" data-offset-bottom="245">
            <label class="">Start Year:
              <select id="start-year-select" class="form-control pull-right">
                {% for year in start_years %}
                  <option value="{{year}}" {% if year == start_year %} selected {% endif %}>{{year}}</option>
                {% endfor %}
              </select>
            </label>
              <ul class="nav sidebar-nav">
                <li class="get-started"><a href="#get-started">Get Started</a></li>
                <li><a href="#taxes">Business Income Tax Rates</a></li>
                <li><a href="#depreciation">Depreciation</a></li>
                <li><a href="#other">Other</a></li>
                <li><a href="#macro-econ">Macroeconomic Assumptions</a></li>
              </ul>
              <div class="sidebar-button">
                <a href="#" ></a>
                <input id="tax-submit" class="btn btn-secondary btn-block btn-animate" type="submit" value="Show me the results!">
              </div>
            </div> <!-- sidebar -->
          </div>
          <div class="col-xs-9">
            <div class="inputs-main">

              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger text-center lert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ error }}
                  </div>
              {% endfor %}

              <div class="inputs-block inputs-block-intro">
                <div class="inputs-block-header">
                    <h1> What is the Cost of Capital Calculator? </h1>
                      <p>The Cost of Capital Calculator is an interface to <a href = "//www.github.com/PSLmodels/b-tax" target="_blank">B-Tax</a>,  an open source economic model for tax policy analysis. <a href = '//www.github.com/opensourcepolicycenter/webapp-public' target="_blank">The code</a> for the Cost of Capital Calculator webapp interface is itself open source. </p>


                      <ul>
                      <li> <strong>Step 1.</strong> Create a policy reform by modifying tax law parameters such as rates and depreciation schedules, adjust the economic assumptions, and request the static result.</li>
                      <li><strong>Step 2.</strong> Review your static output carefully. Ask questions.</li>
                      <li><strong>Step 3.</strong> Share your results! The link to every results page is static and will never change. Send them around.</li>
                      </ul>

                      <p> Throughout this process, if you have a question about how to use the Cost of Capital Calculator or interpret the results, if you want to make a suggestion for making the interface or underlying models better, or if you discover a bug, please send a message to our mailing list, which you can join at <a href = '//list.ospc.org/mailman/listinfo/users_list.ospc.org' target="_blank">list.ospc.org/mailman/listinfo/users_list.ospc.org</a>.</p>

                      <p><strong>Disclaimer</strong>

                      <p>Proper use of this tool and description of that use is ultimately your responsibility. If you plan on publishing your results, I highly recommend that you confirm with the community that you are using the tools properly and interpreting the results correctly before you publish them. If you have a compelling reason not to leave a public note on the mailing list, email me at matt.jensen@aei.org.</p>

                      <p>Results will change as the underlying models improve. A fundamental reason for adopting open source methods in this project is to let people from all backgrounds contribute to the models that our society uses to assess economic policy; when community-contributed improvements are incorporated, the models will produce different results.</p>

                      <p>Neither the Open Source Policy Center nor the American Enterprise Institute maintain institutional positions, and the results from models accessible via the Cost of Capital Calculator interface should not be attributed directly to OSPC or AEI. A suggested acknowledgement is, "We thank the Open Source Policy Center for making the Cost of Capital Calculator available, but we bear sole responsibility for the use of the models and any conclusions drawn."</p>

                      <p><strong> - Matt Jensen, managing director and founder of the Open Source Policy Center </strong></p>

                      <hr>

                      <h1>Effective Tax Rate Calculations</h1>

                      <p>The Cost of Capital Calculator produces estimates of the marginal effective tax rates on new investment under the baseline tax policy and user-specified tax reforms. These effective rate calculations take two forms. The marginal effective tax rate (METR) provides the tax wedge on new investment at the level of the business entity. The marginal effective total tax rate (METTR) includes individual level taxes in the measure of the tax wedge on new investment. One can think of the former as indicating the effect of taxes on incentives to invest from the perspective of the firm and the latter as representing effect of taxes on incentives to invest from the perspective of the saver.  For more detail on the calculations and assumptions underlying this model, please see the <a href = "https://github.com/PSLmodels/B-Tax/blob/master/Guides/CCC_Guide.pdf" target = "_blank"> CCC Guide</a>.</p>

                      <p><strong>Accuracy notes</strong></p>

                      <p>The Python code that performs the cost of capital calculations has been validated in a
                      number of ways.  First, Cost of Capital Calculator results have been compared to calculations performed with other software using current law tax policy parameters.  Second, Cost of Capital Calculator results for a large number of assets
                      have been compared to results for the same assets generated
                      <a href = 'https://www.cbo.gov/sites/default/files/109th-congress-2005-2006/reports/12-18-taxrates.pdf' target="_blank">by the Congressional Budget Office</a> (using CBO assumptions).

                      <p> Results from the Cost of Capital Calculator might differ in comparison to those produced by Congress or the Administration. Modeling requires many assumptions, and neither Congress nor the executive branch publicize all of their assumptions. For example, the marginal effective total tax rates produced by the Cost of Capital Calculator assume the "old view" of dividend taxation.  Others might assume the "new view" is more applicable.  These assumptions are all flexible in the underlying model, <a href = '//www.github.com/PSLmodels/B-Tax' target="_blank">B-Tax</a>, so please conduct sensitivity analyses. Assumptions can be made flexible in this online interface, the Cost of Capital Calculator, based on user requests.</p>

                      <p><strong>
                      Core Maintainers (static modeling):
                      <ul style = "list-style-type:none">
                      <li>- <a href = "http://www.jasondebacker.com" target = "blank" >Jason DeBacker, University of South Carolina</a></li>
                      </ul>
                      </strong></p>
                      <p> These members have "write access" to the core modeling repositories, B-Tax, and work as a team to determine which open source contributions are accepted.</p>
                  <h1 id="get-started">Get Started</h1>
                  <h3>User tips</h3>
                  <div>
                    You are looking at default parameters for {{start_year}}.
                  </div>
                </div>
              </div>


              {% include 'btax/includes/params/inputs/taxes.html' %}
              {% include 'btax/includes/params/inputs/depreciation.html' %}
              {% include 'btax/includes/params/inputs/other.html' %}
              {% include 'btax/includes/params/inputs/macro_econ.html' %}
            </div> <!-- main -->
          </div>
        </div>
      </div>
    </form> <!-- form -->
    <div class="push"></div>
  </div> <!-- /wrapper -->
  <div class="modal fade" id="current-year-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Change Start Year</h4>
        </div>
        <div class="modal-body">
          Warning: This will clear your current inputs.
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-default" data-dismiss="modal">Nevermind.</a>
          <a type="button" class="btn btn-primary" id="current-year-link">OK, go for it.</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
