{% extends 'btax/input_base.html' %}

{% load staticfiles %}

{% load flatblocks %}

{% block content %}
<div class="wrapper">
    <div id="affix-offset">

      <nav class="logobar" role="navigation">
        <a class="logobar-brand" href="/">
          <img alt="Cost of Capital Calculator" src="{% static 'images/logo-no-icon.png' %}">
        </a>
      </nav>



      <section class="taxbrain-hero">
        <div class="taxbrain-hero-block">
          <div class="logo">
            <h2 class="sr-only">TaxBrain</h2>
            <img src="{% static 'images/btax/cost-of-capital-white-blue.png' %}" alt="TaxBrain" class="img-responsive" style="height:108px;">
          </div>
          {% flatblock "ccc_subheader" %}
          <a href="#get-started" class="btn btn-primary btn-explore">Start Exploring</a>
          <div class="what-is">
            <a class="collapsed" data-toggle="collapse" href="#taxbrainInfo" aria-expanded="false" aria-controls="taxbrainInfo">What is the Cost of Capital Calculator?</a>
          </div>
        </div>
      </section>

      <section class="taxbrain-info collapse" id="taxbrainInfo">
        <div class="container">
          <div class="taxbrain-history">
            <h2>About Cost of Capital Calculator</h2>
            {% flatblock "ccc_what_is_ccc_dropdown" %}
          </div>
          <div class="taxbrain-build">
            <h2>PolicyBrain Code Build</h2>
            <p><a href="https://github.com/OpenSourcePolicyCenter/webapp-public/tree/v{{webapp_version}}">Version {{ webapp_version }} - GitHub</a></p>
          </div>
          <div class="taxbrain-build">
            <h2>B-Tax Code Build</h2>
            <p><a href="https://github.com/open-source-economics/B-Tax/tree/{{btax_version}}">Version {{ btax_version }} - GitHub</a></p>
          </div>
        </div>
      </section>
    </div>
    <form class="inputs-form" method="post" action="/ccc/?start_year={{start_year}}">
      {% csrf_token %}
      <input type="hidden" name="has_errors" value="{{ has_errors }}" />
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <div class="inputs-sidebar" data-spy="affix" data-offset-top="435" data-offset-bottom="245">
              <ul class="nav sidebar-nav">
                <li class="get-started"><a href="#get-started">Get Started</a></li>
                <li><a href="#taxes">Business Income Tax Rates</a></li>
                <li><a href="#depreciation">Depreciation</a></li>
                <li><a href="#other">Other</a></li>
                <li><a href="#macro-econ">Macroeconomic Assumptions</a></li>
              </ul>
              <div class="sidebar-button">
                <a href="#" ></a>
                <input id="tax-submit" class="btn btn-secondary btn-block btn-animate" type="submit" value="Show me the results!">
              </div>
            </div> <!-- sidebar -->
          </div>
          <div class="col-xs-9">
            <div class="inputs-main">

              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger text-center lert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ error }}
                  </div>
              {% endfor %}

              <div class="inputs-block inputs-block-intro">
                <div class="inputs-block-header">
                  {% flatblock "ccc_above_get_started_blurb" %}
                  <h1 id="get-started">Get Started</h1>
                  {% flatblock "ccc_get_started_blurb" %}
                  <div>
                    You are looking at default parameters for {{start_year}}.
                  </div>
                </div>
              </div>


              {% include 'btax/includes/params/inputs/taxes.html' %}
              {% include 'btax/includes/params/inputs/depreciation.html' %}
              {% include 'btax/includes/params/inputs/other.html' %}
              {% include 'btax/includes/params/inputs/macro_econ.html' %}
            </div> <!-- main -->
          </div>
        </div>
      </div>
    </form> <!-- form -->
    <div class="push"></div>
  </div> <!-- /wrapper -->
{% endblock %}
