{% extends 'taxbrain/input_form_section.html' %}

{% block input_section_shortname %}dynamic-sim{% endblock %}
{% block input_section_title %}Macroeconomic Parameter{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
  <h1>Macroeconomic Parameter</h1>
  {% block section_warnings %}
  {% endblock %}
</div>

<h2>Open Economy Assumptions</h2>
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.small_open %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.world_int_rate %}


<h2>Elasticity of GDP wrt 1 - AMTR</h2>
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.elastic_gdp %}

{% endblock %}

{% block provide_if_no_continue %}{% endblock %}
