{% extends 'taxbrain/input_base.html' %}

{% load staticfiles %}

{% load flatblocks %}

{% block content %}
<div class="wrapper">
    <nav class="logobar" role="navigation">
      <a class="logobar-brand" href="/">
        <img alt="TaxBrain: A disruptive open source platform for exploring tax policy impact" src="{% static 'images/logo-no-icon.png' %}">
      </a>
    </nav>

    <section class="taxbrain-hero">
      <div class="taxbrain-hero-block">
        <div class="logo">
          <h2 class="sr-only">TaxBrain</h2>
          <img src="{% static 'images/taxbrain/logo-taxbrain-altbeta.png' %}" alt="TaxBrain" class="img-responsive">
        </div>
        {% flatblock "elastic_dynamic_subheader" %}
        <a href="#get-started" class="btn btn-primary btn-explore">Start Exploring</a>
        <div class="what-is">
          <a class="collapsed" data-toggle="collapse" href="#taxbrainInfo" aria-expanded="false" aria-controls="taxbrainInfo">What is TaxBrain?</a>
        </div>
      </div>
    </section>

    <section class="taxbrain-info collapse" id="taxbrainInfo">
      <div class="container">
        <div class="taxbrain-history">
          <h2>About TaxBrain</h2>
          {% flatblock "taxbrain_what_is_taxbrain_dropdown" %}
        </div>
        <div class="taxbrain-build">
          <h2>Code Build</h2>
          <p><a href="https://github.com/open-source-economics/Tax-Calculator">Version {{ taxcalc_version }} - GitHub</a></p>
        </div>
      </div>
    </section>

    <form class="inputs-form" method="post" action="/dynamic/macro/{{pk}}/?start_year={{start_year}}">
      {% csrf_token %}
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <div class="inputs-sidebar" data-spy="affix" data-offset-top="320">
              <ul class="nav sidebar-nav">
                <li class="get-started"><a href="#get-started">Get Started</a></li>
                <li><a href="#behavior">Elasticity of GDP</a></li>
              </ul>
              <div class="sidebar-button">
                <a href="#" ></a>
                <input id="tax-submit" class="btn btn-secondary btn-block btn-animate" type="submit" value="Start Macro Simulation!">
              </div>
            </div> <!-- sidebar -->
          </div>
          <div class="col-xs-9">
            <div class="inputs-main">
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger text-center lert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ error }}
                  </div>
              {% endfor %}

              <div id="get-started" class="inputs-block inputs-block-intro">
                <div class="inputs-block-header">
                  <h1>Elasticity of GDP wrt Ave. Marginal Tax Rates</h1>
                 {% flatblock "dynamic_elasticity_get_started_blurb" %}
                  <div>
                    You are looking at default parameters for {{start_year}}.
                  </div>
                </div>
              {% include 'dynamic/includes/params/inputs/elastic.html' %}
            </div> <!-- main -->
          </div>
        </div>
      </div>
    </form> <!-- form -->
    <div class="push"></div>
  </div> <!-- /wrapper -->
{% endblock %}
