{% extends 'taxbrain/input_base.html' %}

{% load staticfiles %}

{% load flatblocks %}

{% block content %}
<div class="wrapper">
  <div id="affix-offset">
    <nav class="logobar" role="navigation">
      <a class="logobar-brand" href="/">
        <img alt="TaxBrain: A disruptive open source platform for exploring tax policy impact" src="{% static 'images/logo-no-icon.png' %}">
      </a>
    </nav>

    <section class="taxbrain-hero">
      <div class="taxbrain-hero-block">
        <div class="logo">
          <h2 class="sr-only">TaxBrain</h2>
          <img src="{% static 'images/taxbrain/logo-taxbrain-altbeta.png' %}" alt="TaxBrain" class="img-responsive">
        </div>
        <p class="lead">A platform for accessing open-source tax models.</p>
        <a href="#get-started" class="btn btn-primary btn-explore">Start Exploring</a>
        <div class="what-is">
          <a class="collapsed" data-toggle="collapse" href="#taxbrainInfo" aria-expanded="false" aria-controls="taxbrainInfo">What is TaxBrain?</a>
        </div>
      </div>
    </section>

    <section class="taxbrain-info collapse" id="taxbrainInfo">
      <div class="container">
        <div class="taxbrain-history">
          <h2>About TaxBrain</h2>
          <p>TaxBrain is an interface to <a href = "//www.github.com/open-source-economics" target="_blank">open source economic models</a> for tax policy analysis. <a href = '//www.github.com/opensourcepolicycenter/webapp-public' target="_blank">The code</a> for the TaxBrain webapp interface is itself open source. </p>

            <ul>
            <li> <strong>Step 1.</strong> Create a policy reform by modifying tax law parameters such as rates and deductions, adjust the economic baseline, and request the static result. You can do so with the graphical user interface below or by uploading a policy reform file <a href = "//www.ospc.org/taxbrain/file" target="_blank">from this page</a>.</li>
            <li><strong>Step 2.</strong> Review your static output carefully. Ask questions.</li>
            <li><strong>Step 3.</strong> Choose a dynamic modeling approach. Because different approaches generally lead to different estimates, you may want to compare several approaches.</li>
            <li><strong>Step 4.</strong> Adjust economic assumptions and request the dynamic analysis.</li>
            <li><strong>Step 5.</strong> Review your dynamic output carefully. Ask questions.</li>
            <li><strong>Step 6.</strong> Share your results! The link to every results page is static and will never change. Send them around.</li>
            </ul>

            <p> Throughout this process, if you have a question about how to use TaxBrain or interpret the results, if you want to make a suggestion for making the interface or underlying models better, or if you discover a bug, please send a message to our mailing list, which you can join at <a href = '//list.ospc.org/mailman/listinfo/users_list.ospc.org' target="_blank">list.ospc.org/mailman/listinfo/users_list.ospc.org</a>.</p>

            <p><strong>Disclaimer</strong>

            <p>Proper use of this tool and description of that use is ultimately your responsibility. If you plan on publishing your results, I highly recommend that you confirm with the community that you are using the tools properly and interpreting the results correctly before you publish them. If you have a compelling reason not to leave a public note on the mailing list, email me at matt.jensen@aei.org.</p>

            <p>Results will change as the underlying models improve. A fundamental reason for adopting open source methods in this project is to let people from all backgrounds contribute to the models that our society uses to assess economic policy; when community-contributed improvements are incorporated, the models will produce different results.</p>

            <p>Neither the Open Source Policy Center nor the American Enterprise Institute maintain institutional positions, and the results from models accessible via the TaxBrain interface should not be attributed directly to OSPC or AEI. A suggested acknowledgement is, "We thank AEI for making TaxBrain available, but we bear sole responsibility for the use of the models and any conclusions drawn."</p>

            <p><strong> - Matt Jensen, managing director and founder of the Open Source Policy Center </strong></p>

            <hr>

            <h1>Static modeling (Step 1)</h1>

            <p> Static tax analysis entails computing individuals' tax changes under the assumption that behavior does not change in response to tax policy. Static analyses are useful for understanding the mechanistic effects of tax policy changes, and they form the basis to which behavior is applied for dynamic analyses.

            <p>TaxBrain's static modeling capabilities rely on several open source economic models and other packages:</p>
            <ul>
            <li> <a href = "//www.github.com/open-source-economics/tax-calculator" target="_blank">Tax-Calculator</a> computes federal individual income taxes and Federal Insurance Contribution Act(FICA) taxes for a sample of tax filing units in years beginning with 2013 .</li>
            <li><a href = '//www.github.com/open-source-economics/taxdata' target="_blank">TaxData</a> creates a microdataset that closely reproduces the multivariate distribution of income, deduction and credit items in 2009, extrapolated to 2015-2026 levels in accordance with Congressional Budget Office forecasts available in spring 2016. It is intended to match similar but confidential data used by the Congressional Joint Committee on Taxation. The underlying dataset must be purchased from the Statistics of Income division of the Internal Revenue Service. Additional information on non-filers is taken from the March 2013 Current Population Survey. </li>
            <li> DropQ implements a disclosure avoidance algorithm initially proposed by the U.S. Census Bureau to protect confidential data from differencing attacks. The code is undergoing security review before it is open sourced.</li>
            <li> <a href = '//www.github.com/opensourcepolicycenter/webapp-public' target="_blank">TaxBrain</a> itself is an open source project. The underlying models are deployed to TaxBrain using conda, a free and open source package management system supported by <a href = '//www.continuum.io' target="_blank">Continuum Analytics</a></li>
            </ul>

            <p><strong>Transparency and Replicability</strong></p>

            <p>In addition to relying on open source models, we are devoted to making it easy for reviewers to understand the models even if they can't understand the source code or don't have access to the underlying data. Toward that end we produce several additional reports to enhance transparency, peer review, collaboration and a scientific advancement.</p>

            <p>Note that these reports currently rely on the latest versions of tax-calculator and TaxData, which might not correspond perfectly to TaxBrain.</p>

            <ul>
            <li><a href = "https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/comparison/reform_results.txt" target = "_blank">Federal income tax and FICA liability deltas for example reforms</a></li>
            <li>Dummy datasets and associated Tax-Calculator results (Coming soon)</li>
            <li><a href = "https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/comparison/variable_stats_summary.csv">Basic summary statistics for variables used in Tax-Calculator and major intermediate results (2013-2026) </a></li>Currently only weighted mean is available, more statistics will be  added shortly.
            <li><a href = "https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/comparison/correlation.csv" target= "_blank">Correlation matrix for the same set of variables</a> 2016 available now, other years coming soon.</li>
            <li>Extrapolation related: <br>
            <a href = "https://github.com/open-source-economics/taxdata/blob/master/Stage%20II/Stage_I_factors.csv" target= "_blank">Blow-up factors</a><br>
            <a href = "https://github.com/open-source-economics/taxdata/blob/master/Stage%20II/Stage_II_targets.csv" target= "_blank">Aggregate and distributional targets</a></li>
            <li>Equations and coefficients for imputations (Coming soon)</li>
            </ul>

            <p><strong>Accuracy notes</strong></p>

            <p>The Python code that performs the tax calculations has been validated in a
            number of ways.  First, Tax-Calculator results for a number of tax filing
            units have been compared to hand calculations performed using IRS tax
            forms.  Second, Tax-Calculator results for a large sample of tax filing units
            have been compared to results for the same sample generated by a
            <a href = '//www.nber.org/taxcalc' target="_blank">detailed SAS program</a> developed by Dan
            Feenberg and Ina Shapiro of NBER.  Third, a subset of input variables has been used to compare the results of Tax-Calculator to <a href = '//users.nber.org/~taxsim' target="_blank">Internet TAXSIM</a> as well as against the Policy Simulation Group's <a href = '//www.polsim.com/inctax-caps.html' target="_blank">PENSIM tax module</a></p>

            <p> Bugs aside, the results from TaxBrain might differ in comparison to those produced by Congress or the Administration for other reasons. Modeling requires many assumptions, and neither Congress nor the executive branch publicize all of their assumptions. For example, the distribution of wages in <a href = '//www.github.com/open-source-economics/taxdata' target="_blank">TaxData</a> is assumed to stay the same in real terms for all years after the last year we have available data (2013). We know that Congress assumes this distribution changes over time, but it doesn't publish by how much. These assumptions are all flexible in <a href = '//www.github.com/open-source-economics/taxdata' target="_blank">TaxData</a>, so please conduct sensitivity analyses. Other assumptions can be made flexible in TaxBrain based on user requests.</p>

            <p><strong>
            Core Maintainers (static modeling)*:
            <ul style = "list-style-type:none">
            <li>- <a href = "https://www.continuum.io/content/tj-alumbaugh" target = "blank" >T.J. Alumbaugh, Continuum Analytics</a></li>
            <li>- <a href = "http://www.nber.org/people/daniel_feenberg" target = "blank" >Dan Feenberg, National Bureau of Economic Research</a></li>
            <li>- <a href = "http://www.polsim.com/MRH_vita.pdf" target = "blank" >Martin Holmer, Policy Simulation Group</a></li>
            <li>- <a href = "https://www.aei.org/scholar/matthew-h-jensen/" target = "blank" >Matt Jensen, American Enterprise Institute</a></li>
            <li>- <a href = "http://quantria.com/#team" target = "blank" >John O'Hare, Quantria Strategies</a></li>
            <li>- <a href = "https://github.com/Amy-Xu" target = "blank" >Amy Xu, American Enterprise Institute</a></li>
            </ul>
            </strong></p>
            <p> These members have "write access" to one or both of the core static modeling repositories, Tax-Calculator and TaxData, and work as a team to determine which open source contributions are accepted.</p>
        </div>
        <div class="taxbrain-build">
          <h2>PolicyBrain Code Build</h2>
          <p><a href="https://github.com/OpenSourcePolicyCenter/webapp-public/tree/v{{webapp_version}}">Version {{ webapp_version }} - GitHub</a></p>
        </div>
        <div class="taxbrain-build">
          <h2>Tax-Calculator Code Build</h2>
          <p><a href="https://github.com/open-source-economics/Tax-Calculator/tree/{{taxcalc_version}}">Version {{ taxcalc_version }} - GitHub</a></p>
        </div>
      </div>
    </section>

    <form class="inputs-form" method="post" action="/dynamic/{{pk}}/?start_year={{start_year}}">
      {% csrf_token %}

      <div class="result-table">
        <div id="get-started" class="inputs-block inputs-block-intro">
          <div class="inputs-block-header">
            <h1>Choose a Dynamic Simulation Type</h1>
            <p>In the context of policy analysis, dynamic modeling incorporates behavior that affects the aggregate output of the economy. This broad definition includes nearly every type of economic analysis except for the approach most often used in the analysis of tax and spending policy proposals by agencies in the federal government. </p>

            <p> There is no single "accepted" way to estimate the dynamic effects of policy reforms, so TaxBrain is designed to encourage users to try several approaches and to grapple seriously with the limitations and tradeoffs of each approach. Please pay close attention to the descriptions of each model and send a message to the TaxBrain community mailing list if you have questions. You can join the mailing list at <a href = '//list.ospc.org/mailman/listinfo/users_list.ospc.org' target="_blank">list.ospc.org/mailman/listinfo/users_list.ospc.org</a>. </p>

            <p>The open source project maintainers are working hard to expand the capabilities of these models and would appreciate a hand if there are limitations that frustrate you. </p>

            <p> Finally, if you are an economist with a dynamic model that you would like to make available on TaxBrain, please write to the mailing list or leave a note at <a href = '//ospc.org/hello' target="_blank">ospc.org/hello</a>.</p>

          </div>
        </div>
        <div class="inputs-block-header">

                <style type="text/css">
                    td
                    {
                        padding:20px 15px 20px 15px;
                        }
                </style>

                <table style="width:100%">
                <tr padding="15px">
                    <td padding-bottom="1em">
                    <a href="/dynamic/behavioral/{{pk}}/?start_year={{start_year}}" class="text-white btn btn-secondary">Partial Equilibrium Simulation</a>
                    </td>
                    <td>
                     <p>This approach answers the question, "how would taxpayer behavior (income and deductions) affect revenue if all other prices in the economy could stay the same?" <p>
                    </td>
                </tr>
                <tr padding="15px">
                    <td>
                    <a href="/dynamic/ogusa/{{pk}}/?start_year={{start_year}}" class="text-white btn btn-secondary">Overlapping Generations Simulation</a>
                    </td>
                    <td>
                      <p>This approach answers the question, "how does tax policy affect macroeconomic aggregates and prices?"</p>
                    </td>
                </tr>
                <tr padding="15px">
                    <td padding-bottom="1em">
                     <a href="/dynamic/macro/{{pk}}/?start_year={{start_year}}" class="text-white btn btn-secondary">Macro Elasticity Simulation</a>
                    </td>
                    <td>
                    <p>This approach harnesses econometric estimates of the historical relationship between tax policy and the macroeconomy to predict the effect of tax reforms on growth.</p>
                    </td>
                </tr>
                </table>
          </div>

      </div> <!-- main -->
    </form> <!-- form -->
    <div class="push"></div>
  </div> <!-- /wrapper -->
{% endblock %}
