{% extends 'taxbrain/input_base.html' %}

{% load staticfiles %}

{% load flatblocks %}

{% block content %}
<div class="wrapper">
    <nav class="logobar" role="navigation">
      <a class="logobar-brand" href="/">
        <img alt="TaxBrain: A disruptive open source platform for exploring tax policy impact" src="{% static 'images/logo-no-icon.png' %}">
      </a>
    </nav>

    <section class="taxbrain-hero">
      <div class="taxbrain-hero-block">
        <div class="logo">
          <h2 class="sr-only">TaxBrain</h2>
          <img src="{% static 'images/taxbrain/logo-taxbrain-altbeta.png' %}" alt="TaxBrain" class="img-responsive">
        </div>
        {% flatblock "taxbrain_dynamic_subheader" %}
        <a href="#get-started" class="btn btn-primary btn-explore">Start Exploring</a>
        <div class="what-is">
          <a class="collapsed" data-toggle="collapse" href="#taxbrainInfo" aria-expanded="false" aria-controls="taxbrainInfo">What is TaxBrain?</a>
        </div>
      </div>
    </section>

    <section class="taxbrain-info collapse" id="taxbrainInfo">
      <div class="container">
        <div class="taxbrain-history">
          <h2>About TaxBrain</h2>
          {% flatblock "taxbrain_what_is_taxbrain_dropdown" %}
        </div>
        <div class="taxbrain-build">
          <h2>Code Build</h2>
          <p><a href="https://github.com/open-source-economics/Tax-Calculator">Version {{ taxcalc_version }} - GitHub</a></p>
        </div>
      </div>
    </section>

    <form class="inputs-form" method="post" action="/dynamic/{{pk}}/?start_year={{start_year}}">
      {% csrf_token %}

      <div class="result-table">
        <div id="get-started" class="inputs-block inputs-block-intro">
          <div class="inputs-block-header">
            <h1>Choose a Dynamic Simulation Type</h1>
           {% flatblock "dynamic_landing_blurb" %}
          </div>
        </div>
        <div class="inputs-block-header">

                <style type="text/css">
                    td
                    {
                        padding:20px 15px 20px 15px;
                        }
                </style>

                <table style="width:100%">
                <tr padding="15px">
                    <td padding-bottom="1em">
                    <a href="/dynamic/behavioral/{{pk}}/?start_year={{start_year}}" class="text-white btn btn-secondary">Partial Equilibrium Macro Simulation</a>
                    </td>
                    <td>
                      {% flatblock "dynamic_behavioral_blurb" %}
                    </td>
                </tr>
                {% if is_authenticated %}
                <tr padding="15px">
                    <td>
                    <a href="/dynamic/ogusa/{{pk}}/?start_year={{start_year}}" class="text-white btn btn-secondary">Overlapping Generations Simulation</a>
                    </td>
                    <td>
                      <div class="construction">
                        <div class="progress progress-striped" style="min-width: 400px; width: 100%">
                          <div class="progress-bar active progress-bar-custom" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                        <small>Under Construction - Coming Soon!</small>
                      </div>
                      {% flatblock "dynamic_olg_blurb" %}
                    </td>
                </tr>
                {% endif %}
                <tr padding="15px">
                    <td padding-bottom="1em">
                     <a href="/dynamic/macro/{{pk}}/?start_year={{start_year}}" class="text-white btn btn-secondary">Macro Elasticities Simulation</a>
                    </td>
                    <td>
                      {% flatblock "dynamic_macro_el_blurb" %}
                    </td>
                </tr>
                </table>
          </div>

      </div> <!-- main -->
    </form> <!-- form -->
    <div class="push"></div>
  </div> <!-- /wrapper -->
{% endblock %}
