{% extends 'taxbrain/input_form_section.html' %}

{% block input_section_shortname %}adjustments{% endblock %}

{% load flatblocks %}

{% block section_warnings %}
<!--
<div class="alert alert-warning" role="alert">
  Vestibulum id ligula porta felis euismod semper.
</div>
-->
{% endblock %}

{% block content %}
<div class="inputs-block-header">
  <h1>Adjustments</h1>
</div>

{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_StudentLoan_hc %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_SelfEmploymentTax_hc %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_SelfEmp_HealthIns_hc %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_KEOGH_SEP_hc %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_EarlyWithdraw_hc %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ALD_Alimony_hc %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.FEI_ec_c %}

{% endblock %}

{% block next_section_shortname %}exemptions{% endblock %}
