{% extends 'taxbrain/input_form_section.html' %}

{% block input_section_shortname %}payroll-taxes{% endblock %}
{% block input_section_title %}Payroll Taxes{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
    <h1>Reform File: See examples <a href="https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/reforms/REFORMS.md">here</a></h1>
  {% block section_warnings %}
  {% endblock %}
</div>

<p><label for="id_datafile">Upload a data file:</label> </p>
<p><input id="id_datafile" name="datafile" type="file" /></p>

{% endblock %}

{% block provide_if_no_continue %}{% endblock %}
