{% extends 'taxbrain/input_form_section.html' %}

{% block input_section_shortname %}growth{% endblock %}
{% block input_section_title %}Baseline Growth Assumptions{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
  <h1>Baseline Growth Assumptions</h1>
  {% flatblock "taxbrain_growth_blurb" %}
  {% block section_warnings %}
  {% endblock %}
</div>

<h2>Economic Baseline</h2>
{% include 'taxbrain/includes/params/inputs/paramradio.html' with param1=params.factor_adjustment param2=params.factor_target field1=form.factor_adjustment field2=form.factor_target %}

{% endblock %}

{% block provide_if_no_continue %}{% endblock %}


