{% load inputs %}
{% load utility %}

<div class="row has-statuses">

  {% if param1.coming_soon %}
    <div class="col-lg-12">
      <span class="coming-soon"> - Coming soon - </span>
    </div>
  {% endif %}

  <div class="col-xs-12">
    <label>
      {{ param1.name }}
      {% include 'taxbrain/includes/params/tooltip.html' with text=param1.info %}
    </label>
    <form action="">
    <div class="row">
      <div class="col-xs-1">
         <input type="radio" name="growth_choice" value="{{ field1.value}}" {% if field1.value %} checked {% endif %} >
      </div>
      <div class="col-xs-11">
        {% for field in param1.col_fields %}
            <div class="{{ param1|col_input_class }}">
            {% include 'taxbrain/includes/params/inputs/field.html' with field=field %}
            </div>
        {% endfor %}
      </div>
    </div>
    <label>
    {{ param2.name }}
    {% include 'taxbrain/includes/params/tooltip.html' with text=param2.info %}
    </label>
    <div class="row">
      <div class="col-xs-1">
         <input type="radio" name="growth_choice" value="{{ field2.value}}" {% if field2.value %} checked {% endif %}>
      </div>
      <div class="col-xs-11">
        {% for field in param2.col_fields %}
            <div class="{{ param2|col_input_class }}">
            {% include 'taxbrain/includes/params/inputs/field.html' with field=field %}
            </div>
        {% endfor %}
      </div>
    </div>

    </form>
  </div>
</div>
