{% extends 'taxbrain/input_form_section.html' %}

{% block input_section_shortname %}personal-credit{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
  <h1>Personal Refundable Credit</h1>
  {% flatblock "taxbrain_personalcredit_blurb" %}
  {% block section_warnings %}
  {% endblock %}
</div>

{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_credit %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_credit_ps %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_credit_prt %}

{% endblock %}

{% block next_section_shortname %}itemized-deductions{% endblock %}




