{% extends 'taxbrain/input_form_section.html' %}

{% block input_section_shortname %}refundable-credits{% endblock %}
{% block input_section_title %}Refundable Credits{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
  <h1>Refundable Credits</h1>
  {% flatblock "taxbrain_refundable-credit_blurb" %}
  {% block section_warnings %}
  {% endblock %}
</div>

<h2>Earned Income Tax Credit</h2>
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.EITC_rt%}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.EITC_prt %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.EITC_ps %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.EITC_c %}

<h2>Additional child tax credit</h2>
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ACTC_rt %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.ACTC_ChildNum %}

<h2>Additional additional child tax credit (Lee-Rubio)</h2>
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.CTC_additional %}

<h2>Age eligibility requirements for Earned Income Tax Credit</h2>
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.EITC_MinEligAge %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.EITC_MaxEligAge %}

{% endblock %}

{% block next_section_shortname %}growth{% endblock %}
