{% extends 'taxbrain/input_form_section.html' %}

{% block input_section_shortname %}regular-taxes{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
  <h1>Regular Taxes</h1>
  {% flatblock "taxbrain_regular-taxes_blurb" %}
  {% block section_warnings %}
  {% endblock %}
</div>


<h2>Long-term Capital Gains and Qualified Dividends</h2>
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.CG_rt1 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.CG_thd1 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.CG_rt2 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.CG_thd2 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.CG_rt3 %}

<h2>Personal Income Tax</h2>
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_rt1 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_brk1 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_rt2 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_brk2 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_rt3 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_brk3 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_rt4 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_brk4 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_rt5 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_brk5 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_rt6 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_brk6 %}
{% include 'taxbrain/includes/params/inputs/param.html' with param=params.II_rt7 %}

{% endblock %}

{% block next_section_shortname %}amt{% endblock %}
