{% load strings %}
{% load flatblocks %}

<fieldset id="{{ title|make_id }}" class="inputs-block">
  <div class="inputs-block-content">
    <div class="inputs-block-header">
      <h1>
        {{ title }}
      </h1>
      <button
        class="btn btn-primary collapse-button"
        type="button"
        data-toggle="collapse"
        data-target="#{{ title|make_id }}-collapse"
        aria-expanded="false"
        aria-controls="{{ title|make_id }}-collapse">
        <span class="glyphicon glyphicon-minus" style="font-size:2em; margin-bottom:5px"></span>
      </button>
    </div>
    <div class="collapse in" id="{{ title|make_id }}-collapse">
      {% for field in param %}
        {% for name, param_object in field.items %}
          {% if param_object.name %}
            <h2>{{ param_object.name }}</h2>
            {% include 'taxbrain/includes/params/inputs/param.html' with param=param_object %}
          {% else %}
            <h2>{{ name }}</h2>
            {% for x in param_object %}
              {% for y, z in x.items %}
                {% include 'taxbrain/includes/params/inputs/param.html' with param=z %}
              {% endfor %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    {% block section_warnings %}{% endblock %}
  </div>

</fieldset>
