{% extends 'taxbrain/input_form_section.html' %}
{% block input_section_shortname %}payroll-taxes{% endblock %}
{% block input_section_title %}Payroll Taxes{% endblock %}

{% load flatblocks %}

{% block content %}
<div class="inputs-block-header">
{% for title, params in param.items %}
  <h1>{{ title }}</h1>
  {% for field in params %}
    {% for name, param_object in field.items %}
      {% if param_object.name %}
        <h2>{{ param_object.name }}</h2>
        {% include 'taxbrain/includes/params/inputs/param.html' with param=param_object %}
      {% else %}
        <h2>{{ name }}</h2>
        {% for x in param_object %}
          {% for y, z in x.items %}
            {% include 'taxbrain/includes/params/inputs/param.html' with param=z %}
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}
{% flatblock "taxbrain_payroll_blurb" %}
{% block section_warnings %}
{% endblock %}
</div>

{% endblock %}
