{% extends 'taxbrain/input_base.html' %}

{% load staticfiles %}

{% load flatblocks %}

{% block content %}
<div class="wrapper">
    <div id="affix-offset">

      <nav class="logobar" role="navigation">
        <a class="logobar-brand" href="/">
          <img alt="TaxBrain: A disruptive open source platform for exploring tax policy impact" src="{% static 'images/logo-no-icon.png' %}">
        </a>
      </nav>



      <section class="taxbrain-hero">
        <div class="taxbrain-hero-block">
          <div class="logo">
            <h2 class="sr-only">TaxBrain</h2>
            <img src="{% static 'images/taxbrain/logo-taxbrain-altbeta.png' %}" alt="TaxBrain" class="img-responsive">
          </div>
          {% flatblock "taxbrain_subheader" %}
          <a href="#get-started" class="btn btn-primary btn-explore">Start Exploring</a>
          <div class="what-is">
            <a class="collapsed" data-toggle="collapse" href="#taxbrainInfo" aria-expanded="false" aria-controls="taxbrainInfo">What is TaxBrain?</a>
          </div>
        </div>
      </section>

      <section class="taxbrain-info collapse" id="taxbrainInfo">
        <div class="container">
          <div class="taxbrain-history">
            <h2>About TaxBrain</h2>
            {% flatblock "taxbrain_what_is_taxbrain_dropdown" %}
          </div>
          <div class="taxbrain-build">
            <h2>Code Build</h2>
            <p><a href="https://github.com/OpenSourcePolicyCenter/Tax-Calculator">Version {{ taxcalc_version }} - GitHub</a></p>
          </div>
        </div>
      </section>
    </div>
    <form class="inputs-form" method="post" action="/taxbrain/?start_year={{start_year}}">
      {% csrf_token %}
      <input type="hidden" name="has_errors" value="{{ has_errors }}" />
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <div class="inputs-sidebar" data-spy="affix" data-offset-top="435" data-offset-bottom="245">
              <label class="">Start Year:
                <select id="start-year-select" class="form-control pull-right">
                  {% for year in start_years %}
                    <option value="{{year}}" {% if year == start_year %} selected {% endif %}>{{year}}</option>
                  {% endfor %}
                </select>
              </label>
              <ul class="nav sidebar-nav">
                <li class="get-started"><a href="#get-started">Get Started</a></li>
                <li><a href="#payroll-taxes">Payroll Taxes</a></li>
                <li><a href="#social-medicare">Social Security Taxability</a></li>
                <li><a href="#adjustments">Adjustments</a></li>
                <li><a href="#exemptions">Exemptions</a></li>
                <li><a href="#standard-deduction">Standard Deduction</a></li>
                <li><a href="#personal-credit">Personal Refundable Credit</a></li>
                <li><a href="#itemized-deductions">Itemized Deductions</a></li>
                <li><a href="#regular-taxes">Regular Taxes</a></li>
                <li><a href="#amt">Alternative Minimum Tax</a></li>
                <li><a href="#nonrefundable-credits">Nonrefundable Credits</a></li>
                <li><a href="#other-taxes">Other Taxes</a></li>
                <li><a href="#refundable-credits">Refundable Credits</a></li>
                <!-- <li><a href="#growth">Growth Assumptions</a></li>-->
              </ul>
              <div class="sidebar-button">
                <a href="#" ></a>
                <input id="tax-submit" class="btn btn-secondary btn-block btn-animate" type="submit" name="full_calc" value="Show me the results!">
            </div>
              {% if enable_quick_calc %}
              <div class="sidebar-button">
                <a href="#" ></a>
                <input id="tax-submit-quick" class="btn btn-tertiary btn-block" type="submit" name="quick_calc" value="Quick Calculation!">
              </div>
              {% endif %}
              <!--
              <div class="sidebar-note">
                <div class="sidebar-count">
                  <span>11</span> / 24
                </div>
                <h3>Changes made to the Current Tax Policy</h3>
                <p>Data is pre-populated with current tax policy parameters. The amount listed above tracks the number of parameters changed, that different from the current tax policy parameters.</p>
              </div>
              -->
            </div> <!-- sidebar -->
          </div>
          <div class="col-xs-9">
            <div class="inputs-main">

              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger text-center lert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ error }}
                  </div>
              {% endfor %}

              <div class="inputs-block inputs-block-intro">
                <div class="inputs-block-header">
                  {% flatblock "taxbrain_above_get_started_blurb" %}
                  <h1 id="get-started">Get Started</h1>
                  {% flatblock "taxbrain_get_started_blurb" %}
                  <div>
                    You are looking at default parameters for {{start_year}}.
                    <!--
                    <div class="dropdown dropdown-inline">
                      <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        default parameters for 2015 <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">default parameters for 2014</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">default parameters for 2013</a></li>
                      </ul>
                    </div>
                    -->
                  </div>
                </div>
              </div>

              {% include 'taxbrain/includes/params/inputs/payroll.html' %}
              {% include 'taxbrain/includes/params/inputs/soc.html' %}
              {% include 'taxbrain/includes/params/inputs/adjust.html' %}
              {% include 'taxbrain/includes/params/inputs/personal_exemp.html' %}
              {% include 'taxbrain/includes/params/inputs/standard_ded.html' %}
              {% include 'taxbrain/includes/params/inputs/personal_credit.html' %}
              {% include 'taxbrain/includes/params/inputs/itemize_ded.html' %}
              {% include 'taxbrain/includes/params/inputs/regular_taxes.html' %}
              {% include 'taxbrain/includes/params/inputs/amt.html' %}
              {% include 'taxbrain/includes/params/inputs/nonrefundable_credit.html' %}
              {% include 'taxbrain/includes/params/inputs/other_taxes.html' %}
              {% include 'taxbrain/includes/params/inputs/refundable_credit.html' %}
            </div> <!-- main -->
          </div>
        </div>
      </div>
    </form> <!-- form -->
    <div class="push"></div>
  </div> <!-- /wrapper -->
  <div class="modal fade" id="current-year-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Change Start Year</h4>
        </div>
        <div class="modal-body">
          Warning: This will clear your current inputs.
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-default" data-dismiss="modal">Nevermind.</a>
          <a type="button" class="btn btn-primary" id="current-year-link">OK, go for it.</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
