{% extends 'taxbrain/input_base.html' %}

{% load staticfiles %}

{% load flatblocks %}
{% load strings %}
{% load inputs %}

{% block content %}
<div class="wrapper">
    <div id="affix-offset">

      <nav class="logobar" role="navigation">
        <a class="logobar-brand" href="/">
          <img alt="TaxBrain: A disruptive open source platform for exploring tax policy impact" src="{% static 'images/logo-no-icon.png' %}">
        </a>
      </nav>



      <section class="taxbrain-hero">
        <div class="taxbrain-hero-block">
          <div class="logo">
            <h2 class="sr-only">TaxBrain</h2>
            <img src="{% static 'images/taxbrain/logo-taxbrain-altbeta.png' %}" alt="TaxBrain" class="img-responsive">
          </div>
          {% flatblock "taxbrain_subheader" %}
          <a href="#get-started" class="btn btn-primary btn-explore">Start Exploring</a>
          <div class="what-is">
            <a class="collapsed" data-toggle="collapse" href="#taxbrainInfo" aria-expanded="false" aria-controls="taxbrainInfo">What is TaxBrain?</a>
          </div>
        </div>
      </section>
      <section class="taxbrain-info collapse" id="taxbrainInfo">
        <div class="container">
          <div class="taxbrain-history">
            <h2>About TaxBrain</h2>
            {% flatblock "taxbrain_what_is_taxbrain_dropdown" %}
          </div>
          <div class="taxbrain-build">
            <h2>PolicyBrain Code Build</h2>
            <p><a href="https://github.com/OpenSourcePolicyCenter/webapp-public/tree/v{{webapp_version}}">Version {{ webapp_version }} - GitHub</a></p>
          </div>
          <div class="taxbrain-build">
            <h2>Tax-Calculator Code Build</h2>
            <p><a href="https://github.com/open-source-economics/Tax-Calculator/tree/{{taxcalc_version}}">Version {{ taxcalc_version }} - GitHub</a></p>
          </div>
        </div>
      </section>
    </div>
    <form class="inputs-form" method="post" action="/taxbrain/?start_year={{start_year}}">
      {% csrf_token %}
      <input type="hidden" name="has_errors" value="{{ has_errors }}" />
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <div class="inputs-sidebar" data-spy="affix" data-offset-top="435" data-offset-bottom="245">
              <label class="">Start Year:
                <select id="start-year-select" class="form-control pull-right">
                  {% for year in start_years %}
                    <option value="{{year}}" {% if year == start_year %} selected {% endif %}>{{year}}</option>
                  {% endfor %}
                </select>
            </label>
              <div class="reset-button">
                {% if is_edit_page %}
                  <a href="/taxbrain" class="btn btn-tertiary btn-block" style="background-color:#96000b">Reset Parameters</a>
                {% else %}
                  <a href="#" ></a>
                  <input id="tax-submit" class="btn btn-tertiary btn-block" style="background-color:#96000b" type="reset" name="full_calc" value="Reset Parameters">
                {% endif %}
            </div>

              <ul class="nav sidebar-nav">
                <li class="get-started"><a href="#get-started">Get Started</a></li>
                  {% for param in params %}
                    {% for key, value in param.items %}
                      {% if key != "ubi" %}
                        <li><a href="#{{ key|make_id }}">{{ key }}</a></li>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
              </ul>
              <div class="sidebar-button">
                <a href="#" ></a>
                <input id="tax-submit" class="btn btn-secondary btn-block btn-animate" type="submit" name="full_calc" value="Show me the results!">
            </div>
              {% if enable_quick_calc %}
              <div class="sidebar-button">
                <a href="#" ></a>
                <button id="tax-submit-quick" class="btn btn-tertiary btn-block" type="submit" value="quick_calc" name="quick_calc">
                    Quick Calculation! <br> <span style="font-size:smaller;">(1 year; 2% sample)</span>
                </button>
              </div>
              {% endif %}
              <!--
              <div class="sidebar-note">
                <div class="sidebar-count">
                  <span>11</span> / 24
                </div>
                <h3>Changes made to the Current Tax Policy</h3>
                <p>Data is pre-populated with current tax policy parameters. The amount listed above tracks the number of parameters changed, that different from the current tax policy parameters.</p>
              </div>
              -->
            </div> <!-- sidebar -->
          </div>
          <div class="col-xs-9">
            <div class="inputs-main">

              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger text-center lert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ error }}
                  </div>
              {% endfor %}

              <div class="inputs-block inputs-block-intro">
                <div class="inputs-block-header">
                  <h1 id="get-started">Get Started</h1>
                  <h3>User tips</h3>

                  <ul>
                  <li> By default, the policy parameter boxes contain Start Year values. You can change the Start Year of the analysis in the upper left.</li>
                  <li>Toggle the <strong>CPI</strong> control to indicate whether a parameter should be adjusted for inflation. </li>
                  <li>Enter comma-separated values into a field to indicate the multiple years of tax law.
                  <strong>DO NOT</strong> use commas as thousands separators. </li>
                  <li> Express rates as decimals. </li>
                  <li>You can represent a value that would otherwise manifest itself in a year with the <strong>*</strong> operator. So, for example, if you enter <strong>0.1, *, 0.2</strong> in a tax rate field, the rate will be 10 percent in the Start Year, 10 percent a year after the Start Year, and 20 percent two years after the Start Year and forward. If you enter <strong>100, *, 200</strong> in a CPI-indexed field for a credit amount, the credit will be $100 in the Start Year, $100*(1+CPI) the next year, and $200 the following year.</li>
                  <li> <a href = "//ospc.org/docs" target="_blank">Read the Docs</a> </li>
                  <li> <a href = "//docs.google.com/forms/d/e/1FAIpQLSfvKEsQZNe9_16FhKNZcEyv3C8qXZhBfrqLxSd4VR97w92moQ/viewform" target="_blank">Leave Feedback</a> </li>
                  </ul>
                  <h3>Presets: key provisions from newsworthy proposals</h3>
                  <ul>
                  <li>Clinton 2016 Campaign (<a href = "//www.ospc.org/taxbrain/edit/11179/?start_year=2017" target="_blank">Reform</a>,  <a href = "//docs.google.com/document/d/1B3VhYhOtDRR5Q613vyiV236TOmqvnn29E9APYk-mll4/edit?usp=sharing" target="_blank">Notes</a>)</li>
                  <li>Brady-Ryan Plan (<a href = "//www.ospc.org/taxbrain/edit/13337/?start_year=2017" target="_blank">Reform</a>,  <a href = "//docs.google.com/document/d/1ZWePr-l-KaLOf8RPt3dbfAkiK-dzztYqs711BtfeS_c/edit?usp=sharing" target="_blank">Notes</a>)</li>
                  <li>Trump 2016 Campaign (<a href = "//www.ospc.org/taxbrain/edit/11178/?start_year=2017" target="_blank">Reform</a>,  <a href = "//docs.google.com/document/d/1QicaAeWdSgwGEWWRxIkjegyAq4lakoMklFhVHzwIukM/edit?usp=sharing" target="_blank">Notes</a>)</li>
                  <li>2017 Trump Administration (<a href = "//www.ospc.org/taxbrain/edit/11522/?start_year=2017" target="_blank">Reform</a>,  <a href = "//docs.google.com/document/d/1Cum1NU6nP_a0v3-Ro7MKJYeNkaBeGRKKqBrTnAqi0_Q/edit?usp=sharing" target="_blank">Notes</a>)</li>
                  </ul>

                  <div>
                    You are looking at default parameters for {{start_year}}.
                    <!--
                    <div class="dropdown dropdown-inline">
                      <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        default parameters for 2015 <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">default parameters for 2014</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">default parameters for 2013</a></li>
                      </ul>
                    </div>
                    -->
                  </div>
                </div>
              </div>
              {% for param in params %}
                {% for key, value in param.items %}
                  {% if key != "ubi" %}
                    {% if params|is_first:param %}
                      {% include 'taxbrain/default_input.html' with title=key param=value is_first=True %}
                    {% else %}
                      {% include 'taxbrain/default_input.html' with title=key param=value is_first=False %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div> <!-- main -->
          </div>
        </div>
      </div>
    </form> <!-- form -->
    <div class="push"></div>
  </div> <!-- /wrapper -->
  <div class="modal fade" id="current-year-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Change Start Year</h4>
        </div>
        <div class="modal-body">
          Warning: This will clear your current inputs.
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-default" data-dismiss="modal">Nevermind.</a>
          <a type="button" class="btn btn-primary" id="current-year-link">OK, go for it.</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
