<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
      {% include "ga.html" %}
    {% endif %}

    <title>Welcome to TaxBrain | TaxBrain</title>

    {% load staticfiles %}

    {% load flatblocks %}

    <!-- Styles -->
    <link href="{% static 'css/vendor/share-button/share-button.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/taxbrain.css' %}" rel="stylesheet">
    {% block style %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/vendor/html5shiv/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/vendor/respond/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>
  <div id="container">
    <div class="modal fade" id="redirect-modal" tabindex="-1" role="dialog" aria-labelledby="redirect-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="redirect-modal-label">This page has moved to <a href="https://compmodels.org/PSLmodels/Tax-Brain/">https://compmodels.org/PSLmodels/Tax-Brain/</a></h4>
          </div>
          <div class="modal-body">
            <p>Redirecting in 5 seconds...</p>
            <p>Your previous simulations on ospc.org/taxbrain/[sim-number] are still available.</p>
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-default" data-dismiss="modal" id="stay-put">Return to apps.ospc.org</a>
            <a type="button" class="btn btn-primary" href="https://compmodels.org/PSLmodels/Tax-Brain/">Redirect now</a>
          </div>
        </div>
      </div>
    </div>

  {% block content %}

  {% endblock %}
  <div class="push"></div>
  </div>
  <footer>
    <div class="footer-main">
      <div class="container">
        <div class="clearfix">
          <div class="footer-main-logo">
            <img alt="TaxBrain" src="{% static 'images/taxbrain/logo-taxbrain-footerbeta.png' %}">
          </div>
          <div class="footer-main-links">
            <ul>
              <li><a href="/about">Learn more about the Open Source Policy Center</a></li>
            </ul>
          </div>
          <div class="footer-main-text">
            <p>A platform for accessing open-source tax models.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-sub">
      <div class="container">
        <div class="footer-sub-logo">
          <img alt="OSPC: Open Source Policy Center" src="{% static 'images/logo-no-icon.png' %}">
        </div>
        <div class="footer-sub-address">
          <div class="vcard">
            Powered by the <a class="url fn org" href="http://www.ospc.org/">Open Source Policy Center</a>
          </div>
        </div>
        <div class="footer-sub-u">
          <!--
          <a href="#">Privacy Policy</a> · <a href="#">Terms of Service</a> ·
          -->
          <span class="copyright">©2015 OSPC All Rights Reserved</span>
        </div>
      </div>
    </div>

  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'js/vendor/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/vendor/share-button/share-button.min.js' %}"></script>
  <!-- Scripts -->
  <script src="{% static 'js/site.js' %}"></script>
  {% if input_type == "file" %}
  <script src="{% static 'js/filetb.js' %}"></script>
  {% else %}
  <script src="{% static 'js/taxbrain.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/forms.js' %}"></script>
  <script type="text/javascript">
    $('.what-is a').click(function() {
      setTimeout(function() {
        $('.inputs-sidebar').data('bs.affix').options.offset = $('#affix-offset').height();
      }, 1000);
    });
  </script>
  <script>
    $(document).ready(function() {
      var timer = 0;
      timer = setTimeout(function () {
        window.location.replace("https://compmodels.org/PSLmodels/Tax-Brain/")
      }, 5000);
      $("#redirect-modal").modal("show");
      $("#stay-put").click( function(e) {
        clearTimeout(timer);
      });
    })
  </script>

  {% block bottom_scripts %}
  {% endblock %}
  </body>
</html>
