{% if cpi %}
    <span class="form-group cpi-group {% if form_field.errors %} has-warning{% endif %}">

      <label for="{{ cpi.id_for_label }}"
        class="btn btn-cpi
          {% if cpi.field.widget.attrs.placeholder %}active{% endif %}
          {% if cpi.field.widget.attrs.disabled %}disabled{% endif %}
          ">
            CPI
      </label>

      {{ cpi }} {# currently hidden via css but usable by clicking label #}

      {% for error in cpi.errors %}
        <span class="help-block">
          {{ error }}
        </span>
      {% endfor %}

      {% if cpi.field.widget.attrs.placeholder %}
        <span class="default-inline">
          Default: {{ cpi.field.widget.attrs.placeholder }}
        </span>
      {% endif %}

    </span>

{% endif %}
