<div class="parameter-block">
  <div class="parameter-block-header">
    <h3>Alternative Minimum Tax</h3>
    <a href="#">Edit</a>
  </div>
  <div class="parameter-block-content">
    <h4>Exclusion</h4>
    <div class="row">
      <div class="col-xs-6">
        <span class="input">Amount</span>
        <span class="value">{{ locals.inputs.amt_amount }}</span>
      </div>
      {% if locals.inputs.amt_phase_out != 0.025 %}
      <div class="col-xs-6">
        <span class="input">Phase Out Rate</span>
        <span class="value">{{ locals.inputs.amt_phase_out }}</span>
      </div>
      {% endif %}
      <div class="col-xs-6">
        <span class="input">Phase Out Start</span>
        <span class="value">{{ locals.inputs.amt_phase_out_start }}</span>
      </div>
    </div>
    <h4>Rates</h4>
    <div class="row">
      {% if locals.inputs.amt_rate != 0.26 %}
      <div class="col-xs-6">
        <span class="input">AMT Rate</span>
        <span class="value">{{ locals.inputs.amt_rate }}</span>
      </div>
      {% endif %}
      {% if locals.inputs.individual_surtax != 0.02 %}
      <div class="col-xs-6">
        <span class="input">Surtax rate, individual</span>
        <span class="value">{{ locals.inputs.individual_surtax }}</span>
      </div>
      {% endif %}
      <div class="col-xs-6">
        <span class="input">Surtax threshold, individual</span>
        <span class="value">{{ locals.inputs.individual_threshold }}</span>
      </div>
    </div>
  </div>
</div>

